@model ForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<div class="form-group">
    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
        <div class="form-group">
            <label asp-for="UserId"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Login" class="btn btn-link">Back to Login</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
